[user]
	name = Emil Lerch
	email = emil@lerch.org
	signingkey = 3125C87C
[alias]
	co = checkout
	s = status
  l = !git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  tgz = !"f() { dir=${PWD##*/}.tgz; git archive --format tar.gz -o ${1:-$dir} ${2:-HEAD}; }; f"
	start = !git init && git commit --allow-empty -m \"initial commit\"
[push]
	default = simple
#[merge]
#        tool = kdiff3
#[diff]
#        tool = kdiff3

[core]
        pager = less -F -X
[commit]
        gpgsign = true
[gpg]
	program = gpg2
