[user]
	name = Emil Lerch
	email = emil@lerch.org
	signingkey = 3125C87C
[alias]
	co = checkout
	st = status
	tgz = archive --format tar.gz
	start = !git init && git commit --allow-empty -m \"initial commit\"
[push]
	default = simple
[gpg]
	program = gpg2
